<!DOCTYPE html >
<html>
<head>
    <title>Favorite Recipes - Cornbread</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<h1>Cornbread Recipe</h1>
<p>Recipe is courtesy of Paula Deen:</p> <a href="http://www.foodnetwork.com/recipes/paula-deen/moist-and-easy-cornbread-recipe-1921711">

<h2>Ingredients:</h2>
<ul>
    <li>6 tablespoons unsalted butter, melted, plus butter for baking dish.</li>
    <li>1 cup cornmeal.</li>
    <li>3/4 cup all-purpose flour</li>
    <li>1 tablespoon sugar</li>
    <li>1 1/2 teaspoons baking powder</li>
    <li>1/2 teaspoon baking soda</li>
    <li>1/4 teaspoon salt</li>
    <li>2 large eggs, lightly beaten</li>
    <li>1 1/2 cups of buttermilk</li>



</ul>
<h2>Directions:</h2>

<h2> To make the Ginger Syrup</h2>


<p>Preheat the oven to 425 degrees F. Lightly grease an 8-inch baking dish</p>

<p>In a large bowl, mix together the cornmeal, flour, sugar, baking powder,
    baking soda, and salt. </p>

<p>In a separate bowl, mix together the eggs, buttermilk, and butter. Pour
    the buttermilk mixture into the cornmeal mixture and fold together until
    there are no dry spots (the batter will still be lumpy). Pour the batter
    into the prepared baking dish.</p>


<p>Bake until the top is golden brown and tester inserted into the middle of
    the corn bread comes out clean, about 20 to 25 minutes. Remove the cornbread
    from the oven and let it cool for 10 minutes before serving. </p>




<img src="https://c1.staticflickr.com/2/1009/533282370_29d8f47062_b.jpg" alt="" style="width:1024px;height: 768px;">

</body>
