<!DOCTYPE html >
<html>
<head>
    <title>Favorite Recipes</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<h1>Favorite Recipes</h1>

<p> Welcome to Favorite Recipes!</p>

<p> This week's favorite recipes: </p>

<a href="crabcake.html"/> Crab cake</p>
<a href="gingerale.html"/> Ginger Ale</p>
<a href="cornbread.html"/> Cornbread</p>

<p> Come back every week for new recipes! If you would like to submit a recipe, send us an email at
    <a href="favoriterecipes@gmail.com" />
</p>
<img src="https://c1.staticflickr.com/5/4016/4456463140_5310b094dc_z.jpg?zz=1" alt="" style="width:500px;height:334px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Ginger_ale.jpg" alt="" style="width:500px;height: 334px;">
<img src="https://c1.staticflickr.com/2/1009/533282370_29d8f47062_b.jpg" alt="" style="width:500px;height: 334px;">


</body>
</head>
</html>