<!DOCTYPE html >
<html>
<head>
    <title>Favorite Recipes - Ginger Ale</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<h1>Ginger Ale Recipe</h1>
<p>Recipe is courtesy of Add a Pinch:</p> <a href="https://addapinch.com/homemade-ginger-ale-recipe"></a>

<h2>Ingredients:</h2>
<ul>
    <li>1 cup peeled and chopped fresh ginger, about 5 ounces</li>
    <li>2 cups water</li>
    <li>1/4 cup honey, maple syrup or granulated sugar</li>
    <li>1/4 cup fresh lemon or lime juice</li>
    <li>2 tsp. Old Bay seasoning</li>
    <li>1 4 cups (1 quart) club soda or seltzer water/li>


</ul>
<h2>Directions:</h2>

<h2> To make the Ginger Syrup</h2>


<p>Add ginger and water to a small saucepan over medium heat and
    allow to simmer for 30 minutes. Remove from heat, cover, and allow
    to steep an additional 15 minutes. Pour through a fine mesh sieve to
    remove the ginger from the syrup into a large bowl and then pour
    back into the small saucepan. Discard the pieces of ginger or save
    for another purpose.</p>

<p>Add the sweetener to the saucepan and bring to a simmer for
    10 minutes, stirring frequently. Allow to cool completely. At this
    stage, the ginger syrup may be placed into a Mason jar, sealed,
    and stored in the refrigerator for up to a week.</p>

<p>Form the cakes by hand into patties about 3 inches around
    and 3/4-inch thick. Shape should be like a cookie, not like a
    meatball or golf ball. place the cakes in the refrigerator for
    at least 45 minutes before cooking. This is very important
    so the cake don't fall apart.</p>

<h2>To make the Homemade Ginger Ale:</h2>

<p>Pour ginger syrup into a 2-quart glass pitcher, stir in
    fresh lemon or lime juice and club soda or seltzer water.
    Serve over ice.</p>



<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Ginger_ale.jpg" alt="" style="width:530px;height: 747px;">

</body>
</html>